language: python
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
install:
  - pip install -r requirements.txt
script: python -m pytest -v
jobs:
  include:
    - stage: production code audit
      script: bandit -c .bandit.yml -r ./cleanup && bandit -c .bandit.yml cleanup.py
    - stage: test code audit
      script: bandit -c .bandit.test.yml -r ./tests
    - stage: lint
      script: flake8
